/* Write your CSS code here */
.list-item {
  font-family: 'Roboto';
  margin-top: 0px;
  padding: 10px;
  padding-top: 0px;
  text-align: left;
}
.title-date {
  display: flex;
  justify-content: space-between;
}
.title {
  color: #12022f;
}
.date {
  color: #9aa5b1;
}
